@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  :root {
      --yellow-bg-: #e4d404;
      --black-nv-: rgb(17, 13, 6);
     
  }

body {
    font-family: var(--font);
  }

.logo {
    height: 95%;
    border-radius: 40px;
    padding: 5px;
    margin-left: 15px;
}

.header {
    background: var(--black-nv-);
    height: 70px;
    width: auto;
    display: flex;
    padding: 0 20px ;
    justify-content: space-between;
    box-shadow: 0 0 60px;
    align-items: center;
  }

.navbar { 
    flex-direction: flex;
    width: 150px;
    height: 50px;
}

.beer {
    align-items: center;
    /* border: 2px solid red; */
    height: 110px;
    width: auto;
    margin-left: 100px;
    gap: 10px;
}

h1 {
   font-family: Smooch;
   color: var(--black-nv-);
}

    /* menu hamburguesa */
.button {
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 7px;
    background: black;
    cursor: pointer;
}

.button {
    transition: transform .2s; 
}
 
.button:hover {
    transform: scale(1.4); 
}
.button span {
    width:30px ;
    height: 5px;
    background: var(--yellow-bg-);
}

.menuh {
    display: none;
    align-items: center;
}

.ham {
    display: none;
    text-align: center;
    background: black;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    height: 250px;
    margin: 10px;
    /* border: 2px solid red; */
}

.ham li {
    list-style: none;
    display: block;
    padding: 10px;
    color: #e4d404;
}
li {
    transition: transform .2s; 
}
 
li:hover {
    transform: scale(1.3); 
}

.ham li:hover {
    text-decoration: underline;
    color: rgb(243, 150, 10);
}

.menuh:checked +.ham {
    display: block;
}
 /* conteiner */
.maincont {
    /* border: 2px solid red; */
    background-image:url(./img/barriles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
 /* contenedor de la descripcion de la pyme */
.hero {
    /* border: 2px solid red; */
    width: 400px;
    height: 300px;
    margin-right: 25vh;
    background: var(--black-nv-);
    border-radius: 50px;
    opacity: 0.8;
}
 /*  titulo de la pyme */
h3 {
    margin-left: 10px;
    color: white;
    font-size: 3rem;
    font-family: Smooch;
}
  /* Texto de la pyme */
p {
    color: white;
    font-size: 20px;
    padding: 10px;
 }

/* logo-belldorf */

.hero-sec {
    /* border: 2px solid red; */
    height: auto;
    width: auto;
    margin-left: 15vh;
    border-radius: 50px;
    opacity: 0.9;
  
}
 /* Imagen Belldorf fondo blanco */
.bellsect {
    width: auto;
    height: 300px;
    border-radius: 50px;
    
}
 /* Barra de posicion fija
.slider {
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    /* align-items: center;
    width: 100%;
    height: 40px;
    background: grey;
    opacity: 0.5; */
    /* position: sticky; */
    /* top: 0; */
}
  /* Texto de la barra fija */
/* h2 {
    font-family: Bebas;
    font-size: 2rem;
    color: white;
    margin-left: 40%;
} */
  /* Contenedor del texto de la Hist. de la Cerv */
/* .scroll{
    /* border: 2px solid red; */
    /* width: auto;
    height: auto;
    background-color: black; */
/* } */
/*  
.history {
    width: 70%;
    margin: 0 auto;
    height: auto;
} */ 
 
.parrafo {
    color: #e4d404;
    font-size: 22px;
} 

/* Seccion 3  */
.seccion-tres {
    padding: 1rem 0;
    background: linear-gradient(180deg, rgba(3,2,0,1) 11%, rgb(203, 212, 21) 72%, #e4d404 83%);
    height: 100vh;
    display: block;
}
  /*  "algo de lo nuestro" */
  .seccion-tres h2 {
    color:var(--yellow-bg-);
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    margin-left: 10px;
    margin-bottom: 15vh;
  }
  
  .seccion-tres p {
    text-align: center;
    font-size: 22px;
    color: var(--black-nv-);
    max-width: 360px;
    margin: 1rem auto 2rem auto;
  }

  .seccion-tres span {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px black;
    color: white;
    max-width: 500px;
    margin: 1rem auto 0,5rem auto;
  }
  
  .info-lata {
    width: 30vh;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 5px 1px 1px black;
  }
  
  .lata-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
  
  .lata {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lata:hover {
    transition: 0.5s;
    transform: scale(1.1); 
}

/* Seccion 4  */
.seccion-cuatro{
    padding: 2rem 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(250,249,248,1) 100%);
    height: auto;
    display: block;
}
  /*  "como se fabrica?" */
  .seccion-cuatro h2 {
    color:var(--black-nv-);
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 10vh;
  }
  
  .seccion-cuatro p {
    text-align: center;
    font-size: 18px;
    color: var(--black-nv-);
    max-width: 360px;
    margin: 1rem auto 3rem auto;
  }

  .seccion-cuatro span {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px black;
    color: gray;
    max-width: 500px;
    margin: 1rem auto 0,5rem auto;
  }
  
  .info-pasos {
    width: 40vh;
    height: 250px;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 5px 1px 8px black;
    animation: rotation 3s  linear ;
  }
  
  .pasos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
   
 }
  
  .pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.info-pasos:hover {
    transition: 1s;
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
}

/* Seccion-cinco Nuestros Clientes */
.cliente-container {
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
 }

.cliente-container h2 {
    color:var(--black-nv-);
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 50vh;
    margin-right: 50vh;
    /* margin-bottom: 15vh;   */
    /* border: 2px solid red; */
    height: 80px;
    width: 100vh;
  }

 .cliente-container p  {
    /* border: 2px solid red;  */
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;

 }

  .cliente {
    display:flex;
    flex-direction: row;
    margin: 30px;
    /* border: 2px solid red; */
}
  .info-cliente {
    width: 20vh;
    height: 20vh;
    margin-bottom: 1rem;
    border-radius: 20px;

}
.cliente:hover {
    transition: 0.5s;
    transform: scale(1.1); 
}
 /* Footer */

.foot {
    background: var(--black-nv-);
    height: 120px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    
}
h7 {
    /* border: 2px solid red; */
    margin-left: 10px;
    color: whitesmoke;
    font-size: 3rem;
    font-family: Smooch;
}

.fone {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 25px;
}

.contact {
    margin-left: 30px;
}

.list {
    list-style: none;
    color:whitesmoke;
    margin-top: 15px;
    margin-left: 10px;   
}

.cont-log-fb{
    margin-top: 15px;
    height: 70px;
}

.cont-log{
    margin-top: 24px;
    height: 52px;
}

.ubic-log{
    display: flex;
    flex-direction: ;
    gap: 15px;
    margin-right: 74px;
    
}

.whatsapp {
    position:fixed;
    width:52px;
    height:52px;
    bottom:28px;
    right:25px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center ;
    font-size:40px;
    
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:5px;
  }
@media (max-width: 1024px) { 

   /* *{border: 2px solid red;}  */
   
    body {
        font-family: var(--font);
        /* background-image:url(./img/barriles.jpg); */
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    .logo {
        height: 95%;
        border-radius: 40px;
        padding: 5px;
    }
    
    .header {
        background: var(--black-nv-);
        height: 70px;
        width: auto;
        display: flex;
        padding: 0 20px ;
        justify-content: space-between;
        box-shadow: 0 0 60px;
        align-items: center;
      }
    
    .navbar { 
        flex-direction: flex;
        width: 150px;
        height: 50px;
    }
    
    .beer {
        align-items: center;
        /* border: 2px solid red; */
        height: 110px;
        width: auto;
        margin-left: 100px;
        gap: 10px;
    }
    
    h1 {
       font-family: Smooch;
       color: var(--black-nv-); 
      }
    
        /* menu hamburguesa */
    .button {
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 7px;
        background: black;
        cursor: pointer;
    }

    .button {
        transition: transform .2s; 
    }
     
    .button:hover {
        transform: scale(1.2); 
    }

    .button span {
        width:30px ;
        height: 5px;
        background: var(--yellow-bg-);
    }
    
    .menuh {
        display: none;
        align-items: center;
    }
    
    .ham {
        display: none;
        text-align: center;
        background: black;
        border-radius: 7px;
        padding: 20px;
        width: 150px;
        margin: 10px;
     }
    
    .ham li {
        list-style: none;
        display: block;
        padding: 10px;
        color: #e4d404;
    }
    
    .ham li:hover {
        text-decoration: underline;
        color: rgb(243, 150, 10);
        }
    
    .menuh:checked +.ham {
        display: block;
     }
     /* conteiner */
    .maincont {
        /* border: 2px solid red; */
        background-image:url(./img/barriles.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height:auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
        padding-bottom: 20px;
        
    }
    
    .hero {
        /* border: 2px solid red; */
        width: 380px;
        height:auto;
        margin-left: 20%;
        background: var(--black-nv-);
        border-radius: 50px;
        opacity: 0.8;
        margin-top: 30px;
        text-align: center;
    }
    
    h3 {
        margin-left: 10px;
        color: white;
        font-size: 3rem;
        font-family: Smooch;
    }
    
    p {
        color: white;
        font-size: 20px;
        padding: 10px;
     }
    
    /* logo-belldorf */
    
    .hero-sec {
        /* border: 2px solid red; */
        height: auto;
        width: 150px;
        margin-top: 20px;
        margin-right: 65vh;
        border-radius: 50px;
        opacity: 0.9;
       }
    
    .bellsect {
        width: auto;
        height: 200px;
        border-radius: 50px;
        
    }

    /* .slider {
        /* border: 2px solid black; */
        /* border-radius: 15px; */
        /* height: 30px;
        background: gray;
        opacity: 0.8; */
        /* position: sticky;
        top: 0; */
        /* margin: 0 auto;
     } */
    
     /* h2 {
        font-family: Bebas;
        color: black; */
        /* margin: 0 auto; */
        /* margin-left: 30%;
        font-size: 22px;
    } */
   
    
    /* .scroll{
        /* border: 2px solid red; */
        /* width: auto;
        height: auto;
    } */
     
    /* .history {
        width: 70%;
        height: auto;
        margin: 0 auto;
    } */ 
    
    .seccion-tres {
        height: auto;
        background-size: cover;
        /* border: 2px solid red;  */
    }

    .lata-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
     }

     .cliente-container h2 {
        color:var(--black-nv-);
        font-size: 2rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
        margin-bottom: 5vh;  
        /* border: 2px solid red; */
        height: 100px;
        width: 100;
      }
     
      .foot {
        background: var(--black-nv-);
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        gap: 25px;
    }

    h7 {
        /* border: 2px solid red; */
        margin-left: 5vh;
        color: whitesmoke;
        font-size: 3rem;
        font-family: Smooch;
    }

    .ubic-log{
        display: flex;
        gap: 15px;
        margin-left: 37vh;
       
    }
    
    .whatsapp {
        position:fixed;
        width:52px;
        height:52px;
        bottom:17px;
        right:22px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center ;
        font-size:40px;
        
        z-index:100;
      }
      
      .whatsapp-icon {
        margin-top:5px;
      }
    
}
   












  
